
@{
    ViewBag.Title = "index";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />

    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/större.css" rel="stylesheet" />

</head>
<body>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>

    <!--<img style="width:100%" src="pictures/sogeti_varmred.gif" />-->
    
    <img style="width:100%" src="~/pictures/banner.jpg" />

    <div class="container">
        <div class="row">


        </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <br /><br /><br />
                    <font style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 60px">Välkommen att registrera ditt besök här:</font><br /><br /><br /><br />
                </div>
            </div>

            @using (Html.BeginForm("Index", "Inpassering"))
            {
                <div class="row" style="padding-bottom:15px">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">

                        <button type="submit" class="btn btn-block btn-success btn-start glyphicon glyphicon-play"> Inpassering</button>

                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-block btn-warning btn-start glyphicon glyphicon-stop"> Utpassering</button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            }

            @using (Html.BeginForm("Index", "Utpassering"))
            {
                <div class="row" style="padding-bottom:50px">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">



                    </div>
                    <div class="col-md-4"></div>
                </div>
            }





        </div>
    <br /><br /><br /><br /><br />

    <img style="width:100%" src="~/pictures/footer.png" />

</body>

</html>
