@model Inpasseringssystem.Models.Guest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/större.css" rel="stylesheet" />
</head>
<body>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>

    <div class="container">
        <div class="row" style="height:292px; text-align: center;">
            <div style="margin-top:150px;">
                <font size="38" class="bg-success" style="padding: 10px 20px;">Inpassering registrerad!</font>
            </div>
        </div>

        @using (Html.BeginForm("Index", "Index"))
        {


            <div class="row">
                <div class="col-md-12 text-center" style="text-align: center;">
                    @if (ViewBag.Visiting == null)
                    {
                        <h2></h2>
                    }
                    else
                    {
                        <h1>@ViewBag.Visiting har blivit meddelad om din ankomst.</h1>
                        <br /><h2>Sätt dig ner i soffan och ta det lugnt så möter vi dig alldeles strax.</h2>
                    }

                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center" style="text-align: center">
                    <br /><br /><br />
                    <div class="col-md-12 text-left">
                        <input type="submit" class="btn btn-block btn-danger btn-xlarge" value="Avsluta">

                    </div>

                </div>
                <div class="col-md-4"></div>

            </div>
            <div class="row">
                <div class="col-md-12 text-center" style="text-align: center;"><br /><h4>(Kom ihåg att registrera utpassering när du går.)</h4></div>

            </div>

        }


    </div>
</body>
</html>