@model Inpasseringssystem.Models.Guest

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/större.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <style>
        .ui-autocomplete {
            height: 190px;
            width: 150px;
            overflow-y: scroll;
            overflow-x: hidden;
            list-style: none;
            font-size: 27px;
            padding-left: 10px;
        }

        .ui-helper-hidden-accessible {
            display: none;
        }

        #project-label {
            display: block;
            font-weight: bold;
            margin-bottom: 1em;
        }

        #project-emp {
            float: left;
            height: 400px;
            width: auto;
            margin-top: 50px;
        }

        #project-description {
            margin: 0;
            padding: 0;
        }

        .bild {
            height: 80px;
            width: 80px;
        }

        #searchclear {
            position: absolute;
            right: 25px;
            top: 0;
            bottom: 0;
            height: 148px;
            margin: auto;
            font-size: 14px;
            cursor: pointer;
            color: #ccc;
        }
    </style>

    <script>



        $(function () {


            var projects = [
                {
                    label: "Christina Silén",
                    value: "Kicki_Color.jpg",
                },
                {
                    label: "Henrik Larsson",
                    value: "Henrik Larsson_Color.jpg"
                },
                {
                    label: "Johan Höglund",
                    value: "Johan H_Color.jpg"
                },
                {
                    label: "Johan Wallin",
                    value: "JohanWallin_Color.jpg"
                },
                {
                    label: "Judith Karlsson",
                    value: "Judith_Color.jpg"
                },
                {
                    label: "Kristina Löfbom Englund",
                    value: "kristinalöfbom.jpg"
                },
                {
                    label: "Tim Ervasti",
                    value: "Tim_Color.jpg"
                },
                {
                    label: "Önder Arslan",
                    value: "Önder_Color.jpg"
                }
            ];

            $("#tags").autocomplete({
                source: projects,
                select: function (event, ui) {
                    $("#tags").val(ui.item.label);
                    $("#project-emp").attr("src", "/pictures/emp/" + ui.item.value);

                    return false;
                },
                messages: {
                    noResults: '',
                    results: function () { }
                },
                focus: function (event, ui) {
                    $("#tags").val(ui.item.label);
                    $("#project-emp").attr("src", "/pictures/emp/" + ui.item.value);
                    return false;
                },
            })
                .autocomplete("instance")._renderItem = function (ul, item) {
                    return $("<li>")
                        .append("<div>" + item.label + "</div>")
                        .appendTo(ul);
                }
        });


    </script>
</head>
<body>

    @using (Html.BeginForm("Complete", "Inpassering"))
    {
        <div class="container">
            <div class="row" style="height:292px; text-align: left">
                <div class="col-md-4"></div>
                <div class="col-md-8"><font size="38"><br /><br />Välkommen @ViewBag.Name, <br />vem är det du ska träffa?</font></div>

            </div>

            <div class="row">
                <div class="col-md-4"><img id="project-emp" src="~/pictures/emp/silhouette-woman2.jpg" class="ui-state-default" alt=""></div>
                <div class="col-md-4 text-center" style="text-align: center">
                    <br />

                    <div class="col-md-12 text-left">
                        <div class="ui-widget">
                            <h1>Namn</h1>
                            @*<input type="text" style="font-size: 27px" class="form-control input-lg" id="tags" />*@
                            @Html.TextBoxFor(model => model.Visiting, new { @class = "form-control input-lg", @style = "font-size: 27px", @id = "tags" })
                            <span id="searchclear" class="glyphicon glyphicon-remove-circle" style="font-size:30px"></span>
                            <br />
                            <div class="checkbox">
                                <label><input type="checkbox" style="width: 30px; height: 30px; margin-top: 5px;" value=""><font style="font-size: 30px; outline-color:darkgrey; outline-style:dotted; margin-left:20px; padding:0px 7px">Annat ärende</font></label>
                            </div>
                            <br />
                            <br />
                            <input type="submit" class="btn btn-block btn-success btn-xlarge" style="font-size: 24px;" value="OK">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>


        </div>

    }
</body>
</html>
