.btn-xlarge {
    padding: 18px 28px;
    font-size: 30px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    white-space: normal;
}

.btn-start {
    padding: 0px 0px;
    height: 250px;
    width: 390px;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 60px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    white-space: normal;
}

